@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome Franz!</h1>

<div class="yellow-background">
    Welcome to your new app.
</div>

<style>
    .yellow-background {
        background-color: yellow;
    }
</style>